* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
#socialnet {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20%;
    box-sizing: border-box;
    margin-top: 10px;
}
ul a:hover {
    color:chocolate;
}
ul a:active {
    color:chocolate;
}
#container {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.site-prev {
    display: block;
    height: 40px;
    background: #fff;
    /* border: 1px solid rgba(68, 68, 68, 0.346); */
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 0px 0px 2px #676767;
    transition: 5ms;
    user-select: none;
}
.site-prev:hover {
    box-shadow: 0px 0px 4px #676767;
}
.site-prev:active {
    box-shadow: 0px 0px 4px #676767;
}
h2 {
    margin-top: 15px;
}

#hint {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #67676784;
    border-radius: 100px;
    top: 95px;
    left: calc(100%/2 - 10px);
    opacity: 0;
    animation: hint 2s ease 2;
}
@keyframes hint {
    0% {
        opacity: 0;
        transform: scale(1.05);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(1.05);
    }
}